In [5]:
#reading file
import pandas as pd
dataset = pd.read_csv("airlines_dataset.csv")
print(dataset)

   UPDATED ENTRY_DATE EVENT_LCL_DATE EVENT_LCL_TIME LOC_CITY_NAME  \
0       No  19-FEB-16      19-FEB-16      00:45:00Z    MARSHVILLE
1       No  19-FEB-16      18-FEB-16      23:55:00Z     TAVERNIER
2       No  19-FEB-16      18-FEB-16      22:14:00Z       TRENTON
3       No  19-FEB-16      18-FEB-16      17:10:00Z     ASHEVILLE
4       No  19-FEB-16      18-FEB-16      00:26:00Z     TALKEETNA
..     ...        ...            ...            ...           ...
78      No  08-FEB-16      31-DEC-15      17:00:00Z   SAN ANTONIO
79      No  08-FEB-16      05-FEB-16      11:17:00Z      MARICOPA
80      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
81      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
82     Yes  02-FEB-16      02-FEB-16      01:52:00Z        MOBILE

    LOC_STATE_NAME LOC_CNTRY_NAME  \
0   North Carolina            NaN
1          Florida            NaN
2       New Jersey            NaN
3   North Carolina            NaN
4           Alaska            NaN
..             ...            ...
78           Texas            NaN
79         Arizona            NaN
80      California            NaN
81      California            NaN
82         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...        Incident
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...        Incident
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...        Incident
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...        Incident
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                   FSDO_DESC  ... PAX_INJ_NONE PAX_INJ_MINOR PAX_INJ_SERIOUS  \
0      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
1          FAA Miami FSDO-19  ...          NaN           NaN             NaN
2   FAA Philadelphia FSDO-17  ...          NaN           NaN             NaN
3      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
4      FAA Anchorage FSDO-03  ...          NaN           1.0             NaN
..                       ...  ...          ...           ...             ...
78   FAA San Antonio FSDO-17  ...          NaN           NaN             NaN
79    FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
80    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
81    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
82    FAA Birmingham FSDO-09  ...          NaN           NaN             NaN

   PAX_INJ_FATAL PAX_INJ_UNK  GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  \
0            NaN         NaN            NaN            NaN              NaN
1            NaN         NaN            NaN            NaN              NaN
2            NaN         NaN            NaN            NaN              NaN
3            NaN         NaN            NaN            NaN              NaN
4            NaN         NaN            NaN            NaN              NaN
..           ...         ...            ...            ...              ...
78           NaN         NaN            NaN            NaN              NaN
79           NaN         NaN            NaN            NaN              NaN
80           NaN         NaN            NaN            NaN              NaN
81           NaN         NaN            NaN            NaN              NaN
82           NaN         NaN            NaN            NaN              NaN

   GRND_INJ_FATAL  GRND_INJ_UNK
0             NaN           NaN
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
..            ...           ...
78            NaN           NaN
79            NaN           NaN
80            NaN           NaN
81            NaN           NaN
82            NaN           NaN

[83 rows x 42 columns]

In [7]:
dataset.shape

(83, 42)

In [9]:
dataset.head()

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dataset.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [11]:
dataset_analyze = dataset[['ACFT_MAKE_NAME', 'ACFT_MODEL_NAME','LOC_STATE_NAME', 'RMK_TEXT'
                          , 'FLT_PHASE','EVENT_TYPE_DESC','FATAL_FLAG']]

In [14]:
type(dataset_analyze)

pandas.core.frame.DataFrame

In [15]:
dataset_analyze.head()

,ACFT_MAKE_NAME,ACFT_MODEL_NAME,LOC_STATE_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,36,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,RV7,Florida,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN
2,CESSNA,172,New Jersey,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN
3,LANCAIR,235,North Carolina,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN
4,CESSNA,172,Alaska,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN

In [16]:
dataset_analyze['FATAL_FLAG'].fillna(value='No',inplace=True)

<ipython-input-16-d8edde5793d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_analyze['FATAL_FLAG'].fillna(value='No',inplace=True)

In [17]:
dataset_analyze.head()

,ACFT_MAKE_NAME,ACFT_MODEL_NAME,LOC_STATE_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,36,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,RV7,Florida,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,No
2,CESSNA,172,New Jersey,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,No
3,LANCAIR,235,North Carolina,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,No
4,CESSNA,172,Alaska,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,No

In [18]:
dataset_analyze.shape

(83, 7)

In [19]:
dataset_analyze = dataset_analyze.dropna(subset=['ACFT_MAKE_NAME'])

In [20]:
dataset_analyze.shape

(78, 7)

In [21]:
ACFTgroup = dataset_analyze.groupby('ACFT_MAKE_NAME')

In [24]:
ACFTgroup.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

In [25]:
Fatalevents = dataset_analyze.groupby('FATAL_FLAG')

In [26]:
Fatalevents.size()

FATAL_FLAG
No     71
Yes     7
dtype: int64

In [27]:
accidental_events = Fatalevents.get_group('Yes')

In [28]:
accidental_events

,ACFT_MAKE_NAME,ACFT_MODEL_NAME,LOC_STATE_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,36,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
53,PIPER,PA28,Florida,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,UNKNOWN (UNK),Accident,Yes
55,FLIGHT DESIGN,CTLS,California,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,UNKNOWN (UNK),Accident,Yes
79,NORTH AMERICAN,F51,Arizona,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",UNKNOWN (UNK),Accident,Yes
80,CHAMPION,8KCAB,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes
81,BEECH,35,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes
82,CESSNA,182,Alabama,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,UNKNOWN (UNK),Accident,Yes