In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.impute import SimpleImputer

In [3]:
df = pd.read_csv("data.csv")
df.head(10)

,name,school_rating,size,reduced_lunch,state_percentile_16,state_percentile_15,stu_teach_ratio,school_type,avg_score_15,avg_score_16,full_time_teachers,percent_black,percent_white,percent_asian,percent_hispanic
0,Allendale Elementary School,5.0,851.0,10.0,90.2,95.8,15.7,Public,89.4,85.2,54.0,2.9,85.5,1.6,5.6
1,Anderson Elementary,2.0,412.0,71.0,32.8,37.3,12.8,Public,43.0,38.3,32.0,3.9,86.7,1.0,4.9
2,Avoca Elementary,4.0,482.0,43.0,78.4,83.6,16.6,Public,75.7,73.0,29.0,1.0,91.5,1.2,4.4
3,Bailey Middle,0.0,394.0,91.0,1.6,1.0,13.1,Public Magnet,2.1,4.4,30.0,80.7,11.7,2.3,4.3
4,Barfield Elementary,4.0,948.0,26.0,85.3,89.2,14.8,Public,81.3,79.6,64.0,11.8,71.2,7.1,6.0
5,Barkers Mill Elementary School,4.0,893.0,48.0,78.1,76.4,13.9,Public,69.4,72.3,64.0,28.6,39.9,2.2,17.8
6,Barksdale Elementary,4.0,580.0,58.0,83.2,74.6,13.8,Public,68.0,76.1,42.0,27.4,59.5,0.5,6.6
7,Beech Elementary,5.0,612.0,16.0,95.2,93.4,15.6,Public,85.9,90.3,39.0,4.2,90.5,0.3,3.1
8,Beech Senior High School,4.0,1274.0,21.0,82.5,77.9,14.9,Public,67.2,69.3,85.0,13.8,79.7,1.4,3.7
9,Bellevue Middle,3.0,680.0,50.0,53.0,55.5,16.5,Public Magnet,55.8,53.3,41.0,24.3,61.8,5.6,6.6

In [4]:
df[['reduced_lunch','school_rating']].groupby(['school_rating']).describe().unstack()

                      school_rating
reduced_lunch  count  0.0              43.000000
                      1.0              40.000000
                      2.0              44.000000
                      3.0              56.000000
                      4.0              86.000000
                      5.0              78.000000
               mean   0.0              83.581395
                      1.0              74.950000
                      2.0              64.272727
                      3.0              50.285714
                      4.0              41.000000
                      5.0              21.602564
               std    0.0               8.813498
                      1.0              11.644191
                      2.0              11.956051
                      3.0              13.550866
                      4.0              16.681092
                      5.0              17.651268
               min    0.0              53.000000
                      1.0              53.000000
                      2.0              37.000000
                      3.0              24.000000
                      4.0               4.000000
                      5.0               2.000000
               25%    0.0              79.500000
                      1.0              65.000000
                      2.0              54.750000
                      3.0              41.000000
                      4.0              30.000000
                      5.0               8.000000
               50%    0.0              86.000000
                      1.0              74.500000
                      2.0              62.500000
                      3.0              48.500000
                      4.0              41.500000
                      5.0              19.000000
               75%    0.0              90.000000
                      1.0              84.250000
                      2.0              74.000000
                      3.0              63.000000
                      4.0              50.000000
                      5.0              29.750000
               max    0.0              98.000000
                      1.0              98.000000
                      2.0              88.000000
                      3.0              78.000000
                      4.0              87.000000
                      5.0              87.000000
dtype: float64

In [5]:
df[['reduced_lunch','school_rating']].corr()

               reduced_lunch  school_rating
reduced_lunch       1.000000      -0.815757
school_rating      -0.815757       1.000000

In [6]:
df.isnull().any()

name                   False
school_rating          False
size                   False
reduced_lunch          False
state_percentile_16    False
state_percentile_15     True
stu_teach_ratio        False
school_type            False
avg_score_15            True
avg_score_16           False
full_time_teachers     False
percent_black          False
percent_white          False
percent_asian          False
percent_hispanic       False
dtype: bool

In [11]:
df[['state_percentile_15','avg_score_15']].dtypes

state_percentile_15    float64
avg_score_15           float64
dtype: object

In [17]:
df[['state_percentile_15','avg_score_15']]

     state_percentile_15  avg_score_15
0                   95.8          89.4
1                   37.3          43.0
2                   83.6          75.7
3                    1.0           2.1
4                   89.2          81.3
..                   ...           ...
342                 65.2          61.4
343                 97.0          92.0
344                 76.7          69.4
345                 97.1          89.8
346                  1.2           2.7

[347 rows x 2 columns]

In [21]:
impute_df = df[['state_percentile_15','avg_score_15']]
mean_imputation = SimpleImputer(missing_values=np.nan,strategy='mean',add_indicator = True)
new_df = mean_imputation.fit_transform(impute_df)

In [31]:
print (type(new_df))

<class 'numpy.ndarray'>

In [32]:
print (new_df.shape)

(347, 4)

In [33]:
print (new_df[:100])

[[95.8        89.4         0.          0.        ]
 [37.3        43.          0.          0.        ]
 [83.6        75.7         0.          0.        ]
 [ 1.          2.1         0.          0.        ]
 [89.2        81.3         0.          0.        ]
 [76.4        69.4         0.          0.        ]
 [74.6        68.          0.          0.        ]
 [93.4        85.9         0.          0.        ]
 [77.9        67.2         0.          0.        ]
 [55.5        55.8         0.          0.        ]
 [ 2.9         6.3         0.          0.        ]
 [63.8        59.9         0.          0.        ]
 [62.8        58.8         0.          0.        ]
 [90.3        82.5         0.          0.        ]
 [66.2        62.1         0.          0.        ]
 [87.1        77.2         0.          0.        ]
 [54.1        53.2         0.          0.        ]
 [59.2        58.1         0.          0.        ]
 [92.4        82.2         0.          0.        ]
 [13.9        22.2         0.          0.        ]
 [97.3        89.8         0.          0.        ]
 [98.2        91.1         0.          0.        ]
 [82.5        74.7         0.          0.        ]
 [83.9        76.          0.          0.        ]
 [ 0.8         1.7         0.          0.        ]
 [55.5        54.5         0.          0.        ]
 [18.7        26.8         0.          0.        ]
 [ 3.9         7.9         0.          0.        ]
 [16.         25.8         0.          0.        ]
 [58.24926686 57.00469208  1.          1.        ]
 [46.2        48.8         0.          0.        ]
 [10.5        16.2         0.          0.        ]
 [61.2        57.8         0.          0.        ]
 [81.2        73.6         0.          0.        ]
 [79.8        71.9         0.          0.        ]
 [91.6        79.4         0.          0.        ]
 [12.9        20.3         0.          0.        ]
 [89.6        81.6         0.          0.        ]
 [14.         22.3         0.          0.        ]
 [63.2        59.1         0.          0.        ]
 [90.         76.7         0.          0.        ]
 [99.6        95.3         0.          0.        ]
 [35.2        41.8         0.          0.        ]
 [13.2        21.          0.          0.        ]
 [72.1        66.4         0.          0.        ]
 [92.         81.9         0.          0.        ]
 [26.1        37.4         0.          0.        ]
 [85.5        77.6         0.          0.        ]
 [98.3        93.9         0.          0.        ]
 [30.5        39.6         0.          0.        ]
 [ 4.4         8.8         0.          0.        ]
 [76.6        69.4         0.          0.        ]
 [31.         39.          0.          0.        ]
 [44.1        49.1         0.          0.        ]
 [41.         45.2         0.          0.        ]
 [81.6        72.          0.          0.        ]
 [99.8        96.          0.          0.        ]
 [87.         73.1         0.          0.        ]
 [15.8        25.7         0.          0.        ]
 [ 5.4        15.2         0.          0.        ]
 [15.4        25.2         0.          0.        ]
 [22.         30.4         0.          0.        ]
 [78.1        70.5         0.          0.        ]
 [58.24926686 57.00469208  1.          1.        ]
 [85.6        77.7         0.          0.        ]
 [16.1        24.5         0.          0.        ]
 [98.8        94.4         0.          0.        ]
 [85.2        77.4         0.          0.        ]
 [38.2        43.2         0.          0.        ]
 [83.5        75.7         0.          0.        ]
 [95.2        88.5         0.          0.        ]
 [40.7        45.          0.          0.        ]
 [88.9        81.2         0.          0.        ]
 [85.3        71.8         0.          0.        ]
 [85.5        75.9         0.          0.        ]
 [14.8        23.2         0.          0.        ]
 [93.2        85.7         0.          0.        ]
 [96.3        89.          0.          0.        ]
 [98.7        94.1         0.          0.        ]
 [97.7        90.4         0.          0.        ]
 [84.8        75.5         0.          0.        ]
 [33.4        42.1         0.          0.        ]
 [64.7        60.7         0.          0.        ]
 [35.9        42.1         0.          0.        ]
 [ 4.2         8.3         0.          0.        ]
 [11.7        24.3         0.          0.        ]
 [97.8        93.6         0.          0.        ]
 [73.9        67.7         0.          0.        ]
 [10.2        15.4         0.          0.        ]
 [ 8.9        14.3         0.          0.        ]
 [ 9.8        14.9         0.          0.        ]
 [18.5        26.7         0.          0.        ]
 [16.6        26.5         0.          0.        ]
 [65.9        61.8         0.          0.        ]
 [ 3.7         6.8         0.          0.        ]
 [91.         83.6         0.          0.        ]
 [96.5        90.7         0.          0.        ]
 [97.3        89.9         0.          0.        ]
 [62.         58.2         0.          0.        ]
 [44.5        49.          0.          0.        ]]