In [1]:
import pandas as pd 
FDNYdata = pd.read_csv("FDNY.csv")
FDNYdata.describe

<bound method NDFrame.describe of      _id                                       FacilityName  \
0      1                                 Engine 4/Ladder 15
1      2                                Engine 10/Ladder 10
2      3                                           Engine 6
3      4  Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
4      5                                           Ladder 8
..   ...                                                ...
213  214                  Engine 162/Ladder 82/Battalion 23
214  215                               Engine 167/Ladder 87
215  216                               Engine 164/Ladder 84
216  217                          Engine 168/EMS Station 23
217  218                               Engine 151/Ladder 76

              FacilityAddress        Borough  Postcode   Latitude  Longitude  \
0             42 South Street      Manhattan   10005.0  40.703466 -74.007538
1          124 Liberty Street      Manhattan   10006.0  40.710072 -74.012523
2           49 Beekman Street      Manhattan   10038.0  40.710048 -74.005245
3        100-104 Duane Street      Manhattan   10007.0  40.715463 -74.005938
4       14 North Moore Street      Manhattan   10013.0  40.719759 -74.006678
..                        ...            ...       ...        ...        ...
213         256 Nelson Avenue  Staten Island   10308.0  40.543205 -74.147097
214         345 Annadale Road  Staten Island   10312.0  40.554174 -74.175809
215  1560 Drumgoole Road West  Staten Island   10312.0  40.535332 -74.195611
216     1100 Rossville Avenue  Staten Island   10309.0  40.553977 -74.212812
217           7219 Amboy Road  Staten Island   10307.0  40.512518 -74.238822

     Community Board  Community Council  Census Tract        BIN  \
0                1.0                1.0           7.0  1000867.0
1                1.0                1.0          13.0  1075700.0
2                1.0                1.0        1501.0  1001287.0
3                1.0                1.0          33.0  1001647.0
4                1.0                1.0          33.0  1002150.0
..               ...                ...           ...        ...
213              3.0               51.0       15601.0  5067428.0
214              3.0               51.0       17012.0  5075428.0
215              3.0               51.0       20804.0  5083491.0
216              3.0               51.0       20801.0  5154879.0
217              3.0               51.0         248.0  5089056.0

              BBL                                                NTA
0    1.000350e+09  Battery Park City-Lower Manhattan             ...
1    1.000520e+09  Battery Park City-Lower Manhattan             ...
2    1.000930e+09  Battery Park City-Lower Manhattan             ...
3    1.001500e+09  SoHo-TriBeCa-Civic Center-Little Italy        ...
4    1.001890e+09  SoHo-TriBeCa-Civic Center-Little Italy        ...
..            ...                                                ...
213  5.052710e+09  Great Kills                                   ...
214  5.056420e+09  Annadale-Huguenot-Prince's Bay-Eltingville    ...
215  5.068280e+09  Rossville-Woodrow                             ...
216  5.070670e+09  Rossville-Woodrow                             ...
217  5.080400e+09  Charleston-Richmond Valley-Tottenville        ...

[218 rows x 13 columns]>

In [5]:
FDNYdata.columns

Index(['_id', 'FacilityName', 'FacilityAddress', 'Borough', 'Postcode',
       'Latitude', 'Longitude', 'Community Board', 'Community Council',
       'Census Tract', 'BIN', 'BBL', 'NTA'],
      dtype='object')

In [6]:
FDNYdata_analyze = FDNYdata[['FacilityName', 'FacilityAddress', 'Borough']]
FDNYdata_analyze.head()

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan

In [7]:
FDNYdata_analyze.describe()

              FacilityName  FacilityAddress   Borough
count                  218              218       218
unique                 218              218         5
top     Engine 4/Ladder 15  42 South Street  Brooklyn
freq                     1                1        66

In [11]:
FDNYdata_analyze.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [12]:
FDNYdata_analyze.index

RangeIndex(start=0, stop=218, step=1)

In [14]:
FDNYdata_analyze.count()

FacilityName       218
FacilityAddress    218
Borough            218
dtype: int64

In [15]:
FDNYdata_analyze.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

In [18]:
groupby_borough = FDNYdata_analyze.groupby("Borough")
groupby_borough.size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

In [20]:
manhattam_info = groupby_borough.get_group("Manhattan")
manhattam_info

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan
5,Engine 9/Ladder 6,75 Canal Street,Manhattan
6,Engine 15/Ladder 18/Battalion 4,25 Pitt Street,Manhattan
7,Engine 28/Ladder 11,222 East 2nd Street,Manhattan
8,Engine 5,340 East 14th Street,Manhattan
9,Engine 55,363 Broome Street,Manhattan
10,Ladder 20/Division 1,253 Lafayette Street,Manhattan
11,Engine 24/Ladder 5/Battalion 2,227-29 6th Avenue,Manhattan
12,Engine 33/Ladder 9,42 Great Jones Street,Manhattan
13,Ladder 3/Battalion 6,108 East 13th Street,Manhattan
14,Squad 18,132 West 10th Street,Manhattan
15,Engine 34/Ladder 21,440 West 38th Street,Manhattan
16,Engine 26,220 West 37th Street,Manhattan
17,Engine 3/Ladder 12/Battalion 7,150 West 19th Street,Manhattan
18,Engine 1/Ladder 24,142-46 West 31st Street,Manhattan
19,Engine 14,14 East 18th Street,Manhattan
20,Engine 16 / Ladder 7,234 East 29th Street,Manhattan
21,Engine 21,238 East 40th Street,Manhattan
22,Engine 54/Ladder 4/Battalion 9,782 8th Avenue,Manhattan
23,Engine 23,215 West 58th Street,Manhattan
24,Rescue 1,530 West 43rd Street,Manhattan
25,Engine 40/Ladder 35,131 Amsterdam Avenue,Manhattan
26,Ladder 25/District Office 4/Division 3,205-207 West 77th Street,Manhattan
27,Engine 74,120 West 83rd Street,Manhattan
28,Engine 65,33 West 43rd Street,Manhattan
29,Engine 8 / Ladder 2 / Battalion 8,167 East 51st Street,Manhattan
30,Engine 39/Ladder 16,157-59 East 67th Street,Manhattan
31,Engine 44,221 East 75th Street,Manhattan
32,Engine 22/Ladder 13/Battalion 10,159 East 85th Street,Manhattan
33,Engine 58/Ladder 26,1367 5th Avenue,Manhattan
34,Engine 53/Ladder 43,1836-46 3rd Avenue,Manhattan
35,Engine 91,242 East 111th Street,Manhattan
36,Engine 35/Ladder 14,2282 3rd Avenue,Manhattan
37,Engine 76/Ladder 22/Battalion 11,145-51 West 100th Street,Manhattan
38,Engine 47,502 West 113th Street,Manhattan
39,Engine 59/Ladder 30,111 West 133rd Street,Manhattan
40,Engine 37/Ladder 40,415 West 125th Street,Manhattan
41,Engine 69/Ladder 28/Battalion 16,248 West 143rd Street,Manhattan
42,Engine 80/Ladder 23,503 West 139th Street,Manhattan
43,Engine 84/Ladder 34,513 West 161st Street,Manhattan
44,Engine 67,518 West 170th Street,Manhattan
45,Engine 93/Ladder 45/Battalion 13,515 West 181st Street,Manhattan
46,Engine 95/Ladder 36,29 Vermilyea Avenue,Manhattan
47,Marine 1,Little West 12th Street/Hudson River,Manhattan